* { box-sizing: border-box; }

body { background-color: white; margin: 0 auto; }

header { width: 100%; height: 710px; padding-top: 25px; background-image: url("../images/Background_Image.png"); background-size: cover; background-position: center; background-repeat: no-repeat; overflow: hidden; }

.nav { display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap; flex-flow: row wrap; padding: 25px 0; }

.nav .logo { -ms-flex: 1; flex: 1; -ms-flex-flow: row wrap; flex-flow: row wrap; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.nav .menu { -ms-flex: 2; flex: 2; }

.nav .menu ul { display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-pack: end; justify-content: flex-end; font-size: 0; text-align: center; margin: 0; }

.nav .menu a { font-size: 16px; padding: 0 15px; font-family: "Montserrat", sans-serif; text-decoration: none; text-transform: uppercase; text-align: center; color: #fff; transition: .2s; }

.nav .menu a li { list-style-type: none; }

.nav .menu a:hover { color: yellow; transform: translate(2px, 3px); }

.title { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; }

.title h3 { margin-top: 150px; color: #FFF; font-family: "Noto Serif", serif; font-size: 40px; font-style: italic; letter-spacing: -1px; }

.title h1 { font-family: "Montserrat", sans-serif; color: #FFF; font-size: 75px; font-weight: 700; text-transform: uppercase; letter-spacing: -1,88px; }

.title button { font-family: "Montserrat", sans-serif; font-size: 18px; font-weight: 700; text-transform: uppercase; color: #FFF; width: 240px; height: 65px; background-color: #fed136; border-radius: 5px; border-style: none; transition: .2s; }

.title button:hover { background-color: #FFF; color: #fed136; }

/*Secvices sections*/
.services { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: auto; -ms-flex-pack: center; justify-content: center; margin-top: 5%; margin-bottom: 10%; background-color: #FFF; width: auto; height: 330px; }

.services .header p:nth-child(1) { -ms-flex: 1; flex: 1; font-family: "Montserrat", sans-serif; font-size: 40px; color: #222222; font-weight: 700; line-height: 75px; text-transform: uppercase; letter-spacing: -1px; text-align: center; }

.services .header p:nth-child(2) { -ms-flex: 1; flex: 1; font-family: "Noto Serif", serif; font-size: 16px; font-style: italic; color: #777777; text-align: center; line-height: 25px; margin-top: -25px; }

.services .icons { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: baseline; align-items: baseline; }

.services .icons div { -ms-flex: 1; flex: 1; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; text-align: center; }

.services .icons div .fas { font-size: 39px; padding-top: 10px; color: #fed136; border-color: #fed136; border-style: solid; border-width: 3px; border-radius: 50%; text-align: center; width: 68px; height: 67px; }

.services .icons div h2 { font-family: "Montserrat", sans-serif; color: #222222; font-size: 18px; font-weight: 700; line-height: 75px; letter-spacing: -0.45px; text-align: center; }

.services .icons div p { font-family: "Roboto Slab", serif; margin: 0 15px; color: #777777; font-size: 14px; font-weight: 400; letter-spacing: -0.35px; text-align: center; }

.portfolio { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; background-color: #f7f7f7; }

.portfolio .header h1 { font-family: "Montserrat", sans-serif; color: #222222; font-size: 40px; font-weight: 700; line-height: 75px; text-transform: uppercase; letter-spacing: -1px; text-align: center; }

.portfolio .header p { font-family: "Noto Serif", serif; color: #777777; font-size: 16px; font-style: italic; text-align: center; }

.portfolio .row { display: -ms-inline-flexbox; display: inline-flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: center; justify-content: center; -ms-flex-align: baseline; align-items: baseline; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.portfolio .row .item { -ms-flex: 1; flex: 1; width: 100%; max-width: 291px; background-color: #ffffff; margin: 0 1%; margin: 10px 10px; }

.portfolio .row .item img { width: 100%; margin: auto; opacity: .5; transition: 1s; }

.portfolio .row .item img:hover { opacity: 1; }

.portfolio .row .item h5 { color: #333333; font-family: "Montserrat", sans-serif; font-size: 18px; font-weight: 700; letter-spacing: -0.45px; text-align: center; margin: 0; }

.portfolio .row .item p { color: #737373; font-family: "Noto Serif", serif; font-size: 14px; font-style: italic; text-align: center; }

.about { padding: 75px 0; }

.about .header h5 { color: #222222; font-family: "Montserrat", sans-serif; font-size: 40px; font-weight: 700; line-height: 75px; text-transform: uppercase; letter-spacing: -1px; text-align: center; margin-bottom: 0; }

.about .header p { color: #777777; font-family: "Droid Serif"; font-size: 16px; font-style: italic; text-align: center; }

.about .row { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; position: relative; padding: 25px 0; }

.about .row h5 { color: #222222; font-family: "Montserrat", sans-serif; font-size: 18px; font-weight: 700; letter-spacing: -0.45px; text-transform: uppercase; letter-spacing: -0.45px; width: 250px; }

.about .row p { color: #777777; font-family: "Noto Serif", serif; font-size: 14px; font-weight: 400; letter-spacing: -0.35px; width: 300px; }

.about .row .left-col { -ms-flex: 2; flex: 2; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; -ms-flex-align: end; align-items: flex-end; text-align: right; padding-right: 25px; }

.about .row .img img { -ms-flex: 1; flex: 1; top: 50%; left: 50%; margin: 0; padding: 0; vertical-align: middle; max-width: 170px; width: 100%; height: auto; }

.about .row .right-col { -ms-flex: 2; flex: 2; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; text-align: left; padding-left: 25px; }

.about .row .wheel { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; border-color: #f1f1f1; border-style: solid; background-color: #fed136; border-width: 5px; border-radius: 50%; max-width: 170px; width: 100%; height: 170px; }

.about .row .wheel p { -ms-flex: 1; flex: 1; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7); color: #ffffff; font-family: "Montserrat", sans-serif; font-size: 18px; font-weight: 700; text-transform: uppercase; letter-spacing: -0.45px; text-align: center; }

.about [class*="img"]::after { content: ''; display: block; width: 3px; height: 100%; background-color: #f1f1f1; left: 50%; position: absolute; }

.team { padding: 75px 0; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 80%; margin-left: auto; margin-right: auto; }

.team .header h5 { color: #222222; font-family: "Montserrat", sans-serif; font-size: 40px; font-weight: 700; text-transform: uppercase; letter-spacing: -2px; text-align: center; }

.team .header p { color: #777777; font-family: "Droid Serif"; font-size: 16px; font-style: italic; text-align: center; }

.team .person { display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -ms-flex-align: center; align-items: center; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.team .person .item { -ms-flex: 1; flex: 1; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; text-align: center; }

.team .person .item img { margin-left: auto; margin-right: auto; border: 7px solid #fff; background-color: #111; border-radius: 50%; -ms-flex: 1; flex: 1; max-width: 221px; width: 100%; }

.team .person .item h5 { color: #222; font-family: "Montserrat", sans-serif; font-size: 16px; font-weight: 700; letter-spacing: -0.4px; line-height: 50px; text-align: center; margin-bottom: 0; }

.team .person .item p { color: #777; font-family: "Noto Serif", serif; font-size: 14px; font-weight: 400; letter-spacing: -0.35px; text-align: center; margin-top: 0; }

.team .person .item .social { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; padding-top: 25px; }

.team .person .item .social a { margin: 0 2%; }

.team .person .item .social .fab { -ms-flex: 1; flex: 1; color: #222222; font-size: 16px; width: 41px; height: 41px; line-height: 35px; text-align: center; border: 3px solid #222; background-color: #f9f9f9; border-radius: 50%; transition: .5s; }

.team .person .item .social .fab:hover { background-color: #222222; color: #f9f9f9; }

.team .subtitle p { color: #777777; font-family: "Noto Serif", serif; font-size: 16px; font-weight: 400; letter-spacing: -0.4px; text-align: center; margin: 0 auto; padding-top: 5%; width: 80%; }

.team .logos { max-width: 100%; height: auto; text-align: center; padding-top: 200px; }

.contact-form { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; background-image: url("../images/footer/map.jpg"); background-color: #222222; width: 100%; height: auto; }

.contact-form .header h5 { color: #ffffff; font-family: "Montserrat", sans-serif; font-size: 40px; font-weight: 700; text-transform: uppercase; letter-spacing: -1px; text-align: center; }

.contact-form .header p { color: #777777; font-family: "Droid Serif"; font-size: 16px; font-style: italic; text-align: center; }

.contact-form .form { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: center; justify-content: center; margin: 5% 0; }

.contact-form .form .field { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; margin: 0 16px; }

.contact-form .form .field input { max-width: 455px; width: 455px; height: 50px; margin: 15px 0; }

.contact-form .form .field textarea { margin: 15px 0; max-width: 455px; width: 455px; height: 210px; }

.contact-form .submit { margin: 29px auto; }

.contact-form .submit input[type="submit"] { width: 240px; height: 66px; background-color: #fed136; text-align: center; color: #ffffff; font-family: "Montserrat", sans-serif; font-size: 18px; font-weight: 700; text-transform: uppercase; border-radius: 5px; border: 5px solid #fed136; transition: .7s; }

.contact-form .submit input[type="submit"]:hover { background-color: #fff; color: #fed136; border: 5px solid #fed136; }

footer { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; padding: 50px 0; }

footer div:nth-child(1) { -ms-flex: 2; flex: 2; }

footer div:nth-child(1) p:nth-of-type(1) { margin-left: 25px; color: #555555; font-family: Montserrat; font-size: 14px; font-weight: 400; line-height: 22px; letter-spacing: -0.35px; }

footer .social { -ms-flex: 1; flex: 1; text-align: center; }

footer .social .fab { color: #222222; font-size: 16px; width: 41px; height: 41px; line-height: 35px; text-align: center; border: 3px solid #222; background-color: #f9f9f9; border-radius: 50%; transition: .5s; }

footer .social .fab:hover { background-color: #222222; color: #f9f9f9; }

footer div:nth-child(3) { -ms-flex: 2; flex: 2; }

@media screen and (max-width: 768px) { img { width: 100%; height: auto; }
  .nav { -ms-flex-flow: column wrap; flex-flow: column wrap; padding: 0; }
  .nav .logo { -ms-flex: 1; flex: 1; }
  .nav .menu { -ms-flex: 1; flex: 1; }
  .nav .menu ul { -ms-flex-flow: column wrap; flex-flow: column wrap; -ms-flex-align: stretch; align-items: stretch; background-color: gray; opacity: .7; margin-top: 15px; padding: 0; }
  .nav .menu ul li { margin: 10px 0; }
  .title { -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; }
  .title h3 { margin-top: 25px; text-align: center; font-size: 20px; }
  .title h1 { text-align: center; font-size: 37px; margin-bottom: 100px; }
  .services { -ms-flex-flow: row wrap; flex-flow: row wrap; width: auto; height: auto; }
  .services .icons { -ms-flex-flow: column wrap; flex-flow: column wrap; }
  .services .icons div { padding: 15px 0; }
  .portfolio { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; background-color: #f7f7f7; }
  .portfolio .header h1 { font-family: "Montserrat", sans-serif; color: #222222; font-size: 40px; font-weight: 700; line-height: 75px; text-transform: uppercase; letter-spacing: -1px; text-align: center; }
  .portfolio .header p { font-family: "Noto Serif", serif; color: #777777; font-size: 16px; font-style: italic; text-align: center; }
  .portfolio .row { display: -ms-flexbox; display: flex; -ms-flex-flow: column wrap; flex-flow: column wrap; margin: 0 auto; }
  .portfolio .row .item { -ms-flex: 1; flex: 1; width: 100%; height: auto; max-width: 291px; background-color: #ffffff; margin: 0; }
  .portfolio .row .item img { width: 100%; margin: auto; opacity: .5; transition: 1s; }
  .portfolio .row .item img:hover { opacity: 1; }
  .about { padding: 0; }
  .about .header h5 { margin-bottom: 0; }
  .about .header p { text-align: center; }
  .about .row .left-col { -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; text-align: center; padding-right: 0; }
  .about .row .img img { padding: 25px 0; }
  .about .row .right-col { -ms-flex-align: center; align-items: center; text-align: center; padding-left: 0; }
  .about div:nth-child(3) { -ms-flex-direction: column-reverse; flex-direction: column-reverse; }
  .about div:nth-child(2) div:nth-child(3), .about div:nth-child(3) div:nth-child(1), .about div:nth-child(4) div:nth-child(3), .about div:nth-child(5) div:nth-child(1), .about div:nth-child(5) div:nth-child(3) { display: none; }
  .about [class*="img"]::after { display: none; }
  .team { padding: 45px 0; }
  .team .header h5 { padding: 0; margin: 0; }
  .team .person { -ms-flex-align: stretch; align-items: stretch; -ms-flex-direction: column; flex-direction: column; }
  .team .person .item { -ms-flex: 1; flex: 1; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: distribute; justify-content: space-around; }
  .team .person .item img { margin-top: 25px; }
  .logos { display: none; }
  .contact-form { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 100%; height: auto; }
  .contact-form .form { display: -ms-inline-flexbox; display: inline-flex; -ms-flex-direction: column; flex-direction: column; }
  .contact-form .form .field { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .contact-form .form .field input { max-width: 455px; width: 100%; height: auto; margin: 15px 0; }
  .contact-form .form .field textarea { margin: 15px 0; max-width: 455px; width: 100%; height: 200px; }
  footer { -ms-flex-direction: column; flex-direction: column; }
  footer div:nth-child(1) { -ms-flex: 1; flex: 1; }
  footer div:nth-child(1) p:nth-of-type(1) { margin-left: 0; text-align: center; }
  footer div:nth-child(3) { -ms-flex: 1; flex: 1; } }
